@import url("http://fonts.cdnfonts.com/css/indiana-jonas");

.achievments {
  background-color: black;
  width: 100%;
  height: 120vh;
  margin-right: 20px;
}

.header__achievments {
  width: 100vw;
  margin-bottom: 20px;
  background-color: black;
  display: flex;
}

.header__achievments > h1 {
  font-family: "Indiana Jonas";
  color: orange;
  margin-top: 20px;
  font-size: 45px;
}

.header__achievments > button {
  width: 100px;
  color: orange;
  background-color: black;
  padding-right: 50 px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 50px;
  border: 3px solid orange;
  border-color: orange;
}

.header__achievments > button:hover {
  background-color: orange;
  border-color: black;
}

.header__achievments > button a {
  color: orange;
  font-size: 18px;
  font-weight: 700;
}

.header__achievments > button > a:hover {
  color: black;
  text-decoration-line: none;
}
.container {
  background-color: green;
  width: 80%;
}

.card1 {
  background-color: black;
  border: 3px solid orange;
  margin-bottom: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.allecipmen {
  align-items: center;
  margin-top: 80px;
  color: orange;
  margin-bottom: 50px;
  font-family: monospace;
  font-size: 25px;
}
