@import url("http://fonts.cdnfonts.com/css/indiana-jonas");

.main__battle {
  justify-content: center;
}

.score__board {
  display: flex;
  margin: 30px auto;
  border: 2px solid lightblue;
  border-radius: 20px;
  text-align: center;
  width: 350px;
  color: orange;
  font-size: 50px;
  font-weight: bold;
  padding: 20px 15px;
  position: relative;
  justify-content: center;
}

.result__battle > p {
  position: relative;
  text-align: center;
  font-family: "Indiana Jonas", sans-serif;
}

.result__battle {
  justify-content: center;
  margin-top: -15px;
  font-size: 40px;
  color: white;
}

.player__score {
  /* background: black; */
  color: white;
  font-size: 30px;
  padding: 10px 10px;
  border-radius: 3px;
  place-items: center;
  right: 100px;
}

#user-label {
  position: absolute;
  font-family: "Indiana Jonas", sans-serif;
  top: 28px;
  left: 0px;
  width: 100px;
  font-size: 35px;
}

#computer-label {
  position: absolute;
  font-family: "Indiana Jonas", sans-serif;
  top: 28px;
  right: 0px;
  width: 100px;
  font-size: 35px;
}

#user-score {
  margin-right: 30px;
  margin-left: 50px;
}

/* CHOICESS */

.SectionChoice {
  display: flex;
  justify-content: center;
  margin-left: -140px;
}

.choices {
  display: flex;
  justify-content: center;
  border: 2px solid lightblue;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: 80px;
  margin-right: 150px;
  padding-bottom: 30px;
  border-radius: 15px;
}

.choices__player {
  display: flex;
  flex-direction: column;
  margin-right: 250px;
}
.choices__player > button {
  background: none;
  outline: none;
  border: 1px solid lightblue;
  margin: 5px;
  cursor: pointer;
}

.choices__comp {
  display: flex;
  flex-direction: column;
}
.choices__comp > button {
  background: none;
  outline: none;
  border: 1px solid lightblue;
  cursor: pointer;
  margin: 5px;
}

.buttonControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.buttonControl > button {
  padding-left: 50px;
  padding-right: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 45px;
  font-family: "Indiana Jonas";
  font-size: 25px;
  color: black;
  background-color: orange;
  border: none;
}

.buttonControl > button > a {
  color: black;
}
