@import url("http://fonts.cdnfonts.com/css/indiana-jonas");

.header__game {
  background-color: black;
}

.header__title {
  display: flex;
  color: orange;
}

.header__title > button {
  width: 100px;
  background-color: black;
  padding-right: 50 px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 50px;
  border: 3px solid orange;
}

.header__title > button:hover {
  color: black;
  background-color: orange;
  border-color: black;
}

.header__title > button > a {
  font-size: 17px;
  font-weight: 700;
  color: orange;
}

.header__title > button > a:hover {
  color: black;
  text-decoration-line: none;
}

.header__title > h1 {
  font-family: "Indiana Jonas";

  color: orange;
  margin-top: 20px;
  font-size: 45px;
}
