.jumbotronCustom::after {
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.829),
      rgba(0, 0, 0, 0.034)
    );
  }
  
  .title,
  .lead {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .title {
    font-size: 5vw;
    letter-spacing: 3px;
    font-weight: bold;
  }
  
  .lead {
    font-size: 3vw;
    letter-spacing: 2px;
  }
  
  .jumbotronCustom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../public/assets/images/rsz_bgimage_1.png);
    background-size: cover;
    height: 85vh;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
  }
  
  .jumbotronCustom::after {
    content: "";
    display: block;
    background-color: rgba(8, 8, 8, 0.431);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: -10;
  }
  
  @media (min-width: 992px) {
    .jumbotronCustom {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -90px;
      height: 100vh;
      background-image: url(../public/assets/images/rsz_bgimage_1.png);
      background-size: cover;
    }
  
    .jumbotronCustom::after {
      background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.034)
      );
    }
  
    .title {
      font-size: 4vw;
    }
  
    .lead {
      font-size: 2vw;
    }
  }
  