.navbar {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  z-index: 100;
  color: white!important;
}

.navbarBrand {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* a {
  text-decoration: none;
  color: white;
} */

/* a:hover {
  text-decoration: none;
  color: lightgray;
} */

@media (min-width: 992px) {
  .navbar {
    background-color: rgba(22, 22, 22, 0.4);
    height: 90px;
  }

  .navLink {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
  }

  
}